<!DOCTYPE html>
<html>
	<head>
		<title>Online Learning Database</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
<style>
		body {background:url(chalkboard.jpg)}
		title {font-family: 'Cedarville Cursive', cursive;}
		#border {border: 2px solid black; padding: 0 10px 5px 10px; float: left; width: 550px; border-radius: 10px; margin-left: 0px; background: url(img/chalkboard.jpg)}
		#border:first-letter { font-weight : bold; font-size: 200%; }
		.navbar-brand {font-family: 'Cedarville Cursive', cursive; font-size: 200%;}
		#header {font-family: 'Cedarville Cursive', cursive; font-size: 30px;}
		#sidebar {margin-right: 0px;}

</style>
	</head>
	<body>
		<div class="intro">

		<div class="container">

			<!-- Static navbar -->
			<div class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			    </button>
			    <a class="navbar-brand" id="header" href="/">Teacher Resources - Math</a>
			  </div>
			</div>

   
	</div>
<div class="container">
	    <div class="col-md-5" id="sidebar">
	    	<br />
			<h3><font color="white">What subject are you interested in?</font></h3>

			<form method='get' action='/category'>
		    <select name='category'>
	  			<option><a href='/math.erb'>Math</a></option>
	  		</select>
		  		<input type='submit' />
			</form>
			<br />

			<h3><font color="white">Select a grade level.</font></h3>
			<form method='get' action='/subcategory'>
			  <select name='subcategory'>
			  	<option><a href='/mchannels/math2'>Math Grade 2</a></option>
			    <option><a href='/mchannels/math3'>Math Grade 3</a></option>
			    <option><a href='/mchannels/math4'>Math Grade 4</a></option>
			  </select>
			  <input type='submit' />
			</form>
		</div>
					<br />
					<br />
			

   		<div class="col-md-4" id="border"><font color="white">
			<% if @mchannel == "Choose One" %>Choose One!
    		<% elsif @mchannel == "Math" %>
    			<%= @math_links[0].text %>
    		<% elsif @mchannel == "Reading" %>
    			<%= @read_links[0].text %>
    		<% elsif @mchannel == "Math Grade 2" %>
    			<%= @math2_links[0].text %><br /><br />
    			<%= @math2_links[1].text %><br /><hr>
    			<%= @math2_links[2].text %><br /><br />
    			<%= @math2_links[3].text %><br /><hr>
    			<%= @math2_links[4].text %><br /><br />
     			<%= @math2_links[5].text %><br /><hr>
     			<%= @math2_links[6].text %><br /><br />
     			<%= @math2_links[7].text %>

	   		<% elsif @mchannel == "Math Grade 3" %>
    			<%= @math3_links[0].text %><br /><br />
    			<%= @math3_links[1].text %><br /><hr>
    			<%= @math3_links[2].text %><br /><br />
    			<%= @math3_links[3].text %><br /><hr>
    			<%= @math3_links[4].text %><br /><br />
    			<%= @math3_links[5].text %><br /><hr>
    			<%= @math3_links[6].text %><br /><br />
    			<%= @math3_links[7].text %>

	   		<% elsif @mchannel == "Math Grade 4" %>
    			<%= @math4_links[0].text %><br /><br />
    			<%= @math4_links[1].text %><br /><hr>
    			<%= @math4_links[2].text %><br /><br />
    			<%= @math4_links[3].text %><br /><hr>
    			<%= @math4_links[4].text %><br /><br />
    			<%= @math4_links[5].text %><br /><hr>
    			<%= @math4_links[6].text %><br /><br />
    			<%= @math4_links[7].text %><br /><hr>

			<% end %>
		</font>
		</div>
<br><br>

	</div>
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
